# Computer Vision & Machine Learning
ultralytics>=8.3.0
opencv-python>=4.10.0
numpy>=1.26.0
lap>=0.5.12

# Database Persistence
SQLAlchemy>=2.0.35

# Utilities & Testing
python-dotenv>=1.0.1
pytest>=8.3.0
